h1 {

color: blue;
  }
  h2 { 

    color: cyan;
     }

     .intro {
        font-style: italic;
      }

      .intro {
          font-size: large;
      }
      .intro  {
          font-style: italic;
      }
      .intro  {
          font-style: italic;
      }
      .author {
          color: coral;
      }
      .author {
          color: brown;
      }
      .author {
          color: crimson;
      }
      .important {
          color: blueviolet;
      }
      
    
  